---
import Layout from "../../layouts/Layout.astro";
import Article from "../../components/Article.astro";
import { replaceUmlaute } from "../../helper";

export async function getStaticPaths() {
  const posts: any = await Astro.glob("../../collections/aktuelles/*.md");

  return posts.map((post: any) => ({
    params: {
      page:
        post.frontmatter.date.substring(0, 10) +
        "-" +
        replaceUmlaute(
          post.frontmatter.title.replace(/[^a-zA-Z0-9]/g, "")
        ).toLowerCase(),
    },
    props: { post },
  }));
}

const { page }: any = Astro.params;
const { post }: any = Astro.props;
---

<Layout title={post.frontmatter.title}>
  <main>
    <Article
      text={post.compiledContent()}
      title={post.frontmatter.title}
      imgSrc={post.frontmatter.thumbnail}
      alt={post.frontmatter.alt}
      date={post.frontmatter.date}
      instaLink={"https://storied-elf-dbf4c8.netlify.app/aktuelles/" + page}
      fbLink={"https://storied-elf-dbf4c8.netlify.app/aktuelles/" + page}
      mailLink={"https://storied-elf-dbf4c8.netlify.app/aktuelles/" + page}
      waLink={"https://storied-elf-dbf4c8.netlify.app/aktuelles/" + page}
    />
  </main>
</Layout>

<!-- instaLink={"https://truels-reichardt.de/aktuelles/" + page}
fbLink={"https://truels-reichardt.de/aktuelles/" + page}
mailLink={"https://truels-reichardt.de/aktuelles/" + page}
waLink={"https://truels-reichardt.de/aktuelles/" + page} -->
