---
import Layout from "../layouts/Layout.astro";
import ArticlePreview from "../components/ArticlePreview.astro";

const posts = await Astro.glob("../collections/aktuelles/*.md");
---

<Layout title="Aktuelles | Truels Reichart, SPD">
  <main>
    <h1>Aktuelles</h1>
    {
      posts.map((post) => (
        <article>
          <ArticlePreview
            title={post.frontmatter.title}
            text={post.compiledContent()}
            date={post.frontmatter.date}
            imgSrc={post.frontmatter.thumbnail}
            alt={post.frontmatter.alt}
            slug={
              post.frontmatter.date.substring(0, 10) +
              "-" +
              post.frontmatter.title.toLowerCase()
            }
          />
        </article>
      ))
    }
  </main>
</Layout>

<style>
  img {
    width: 100% !important;
  }
  article + article {
    margin-top: 32px;
  }
</style>
