---
import Layout from "../layouts/Layout.astro";
import ArticlePreview from "../components/ArticlePreview.astro";
import { replaceUmlaute } from "../helper";

const posts = await Astro.glob("../collections/aktuelles/*.md");
const sortedPosts = posts.sort((a, b) => {
  return (
    new Date(b.frontmatter.date).valueOf() -
    new Date(a.frontmatter.date).valueOf()
  );
});

const siteConfig = {
  title: "Aktuelles | Truels Reichart, SPD",
  description:
    "Aktuelle Beiträge des SPD-Bundestagskandidaten für Nordfriesland und Dithmarschen Nord Truels Reichardt",
  "og:image": "/assets/images/Reichardt_Truels.webp",
  "og:url": "https://truels-reichardt.de/aktuelles",
};
---

<Layout siteConfig={siteConfig}>
  <main>
    <h1>Aktuelles</h1>
    {
      sortedPosts.map((post) => (
        <article>
          <ArticlePreview
            title={post.frontmatter.title}
            text={post.compiledContent()}
            date={post.frontmatter.date}
            imgSrc={post.frontmatter.thumbnail}
            alt={post.frontmatter.alt}
            slug={
              post.frontmatter.date.substring(0, 10) +
              "-" +
              replaceUmlaute(
                post.frontmatter.title.replace(/[^a-zA-Z0-9]/g, "")
              ).toLowerCase()
            }
          />
        </article>
      ))
    }
  </main>
</Layout>

<style>
  img {
    width: 100% !important;
  }
  article + article {
    margin-top: 32px;
  }
</style>
