---
interface Props {
  title: string;
  imgSrc: string;
  alt: string;
  date: string;
  text: string;
  fbLink?: string;
  instaLink?: string;
  waLink?: string;
  mailLink?: string;
}

const { title, imgSrc, alt, date, text, fbLink, instaLink, waLink, mailLink } =
  Astro.props;

function formatDate(date: string): string {
  const dateToUse = date.substring(0, 10).split("-");
  const day = dateToUse[2];
  const month = getMonth(dateToUse[1]);
  const year = dateToUse[0];
  return day + "." + " " + month + " " + year;
}

function getMonth(month: string): string | undefined {
  switch (month) {
    case "01":
      return "Januar";
    case "02":
      return "Februar";
    case "03":
      return "März";
    case "04":
      return "April";
    case "05":
      return "Mai";
    case "06":
      return "Juni";
    case "07":
      return "Juli";
    case "08":
      return "August";
    case "09":
      return "September";
    case "10":
      return "Oktober";
    case "11":
      return "November";
    case "12":
      return "Dezember";
    default:
      console.log(`Sorry, no month matching: ${month}.`);
  }
}
---

<div class="article">
  <div class="article__wrapper">
    <img src={imgSrc} alt={alt} class="article__img" />
    <h2 class="headline">{title}</h2>
    <p class="date">{formatDate(date)}</p>
    <div class="text" set:html={text} />
    <h4>Teile diesen Beitrag:</h4>
    <div class="cta__container">
      <a
        href={"https://www.facebook.com/sharer/sharer.php?u=" + fbLink}
        class="cta__link"
      >
        <div class="cta__btn">
          <img
            src="/assets/icons/SPD_Facebook_rot-frei_RGB.svg"
            alt="Facebook Icon"
            class="icon"
          />Facebook
        </div>
      </a>
      <a
        href={"https://api.whatsapp.com/send?text=" + waLink}
        class="cta__link"
      >
        <div class="cta__btn">
          <img
            src="/assets/icons/SPD_Whatsapp_rot-frei_RGB.svg"
            alt="WhatsApp Icon"
            class="icon"
          />WhatsApp
        </div>
      </a>
      <a href={"mailto:?body=" + mailLink} class="cta__link">
        <div class="cta__btn">
          <img
            src="/assets/icons/SPD_E-Mail_rot-frei_RGB.svg"
            alt="Mail Icon"
            class="icon"
          />Mail
        </div>
      </a>
    </div>
  </div>
</div>

<style>
  .article {
    padding: 8px;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 32px;
  }
  .article__wrapper {
    border-left: 4px solid var(--red);
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 0 4px 0 var(--black);
  }
  .headline {
    text-align: left;
    padding: 0 16px;
  }
  .article__img {
    width: 100%;
    max-width: 600px;
  }
  .date {
    font-style: italic;
    color: rgba(0, 0, 0, 0.7);
  }
  .text {
    max-width: 60ch;
    text-align: justify;
    hyphens: auto;
  }
  p > img {
    width: 100%;
  }
  .cta__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    padding-bottom: 16px;
  }
  .cta__link {
    text-decoration: none;
    color: var(--red);
    cursor: pointer;
    width: 140px;
  }
  .cta__btn {
    padding: 16px;
    border: 2px solid var(--red);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms;
  }
  .cta__btn:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  .icon {
    height: 15px;
    width: 15px;
    margin-right: 8px;
  }
</style>
