---
interface Props {
  title: string;
  imgSrc: string;
  alt: string;
  date: string;
  text: string;
  slug?: string;
}

const { title, imgSrc, alt, date, text, slug } = Astro.props;

function formatDate(date: string): string {
  const dateToUse = date.substring(0, 10).split("-");
  const day = dateToUse[2];
  const month = getMonth(dateToUse[1]);
  const year = dateToUse[0];
  return day + "." + " " + month + " " + year;
}

function getMonth(month: string): string | undefined {
  switch (month) {
    case "01":
      return "Januar";
    case "02":
      return "Februar";
    case "03":
      return "März";
    case "04":
      return "April";
    case "05":
      return "Mai";
    case "06":
      return "Juni";
    case "07":
      return "Juli";
    case "08":
      return "August";
    case "09":
      return "September";
    case "10":
      return "Oktober";
    case "11":
      return "November";
    case "12":
      return "Dezember";
    default:
      console.log(`Sorry, no month matching: ${month}.`);
  }
}
---

<div class="article">
  <div class="article__wrapper">
    <img src={imgSrc} alt={alt} class="article__img" />
    <h2 class="headline">{title}</h2>
    <p class="date">{formatDate(date)}</p>
    <p>{text.replace(/<[^>]+>/g, "").substring(0, 500) + " ..."}</p>
    <div class="link-container">
      <a href={slug} class="link">...mehr lesen</a>
    </div>
  </div>
</div>

<style>
  .article {
    padding: 8px;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 32px;
  }
  .article__wrapper {
    border-left: 4px solid var(--red);
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 0 4px 0 var(--black);
  }
  .headline {
    text-align: left;
    padding: 0 16px;
    margin-bottom: 8px;
  }
  .article__img {
    width: 100%;
    max-width: 600px;
  }
  .date {
    font-style: italic;
    color: rgba(0, 0, 0, 0.7);
  }
  .text {
    max-width: 60ch;
    text-align: justify;
    hyphens: auto;
  }
  .link-container {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--red);
    padding: 16px 0;
    margin-top: 16px;
  }
  .link {
    padding: 8px 16px;
    background-color: var(--white);
    border-radius: 4px;
    color: var(--black);
    text-decoration: none;
    border: 2px solid var(--white);
    transition: all 250ms;
  }
  .link:hover {
    background-color: var(--red);
    color: var(--white);
  }
</style>
