---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
interface Props {
  siteConfig: {
    title: string;
    description: string;
    "og:image": string;
    "og:url": string;
  };
}

const { siteConfig } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={siteConfig.description} />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content={"https://truels-reichardt.de" + siteConfig["og:image"]}
    />
    <meta property="og:title" content={siteConfig.title} />
    <meta property="og:description" content={siteConfig.description} />
    <meta property="og:url" content={siteConfig["og:url"]} />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{siteConfig.title}</title>
  </head>
  <body>
    <Header />
    <div class="main">
      <slot />
    </div>
    <Footer />
    <div class="consent">
      <div class="consent__action-container">
        <h2>Datenschutz</h2>
        <p>
          Mit dem Besuch meiner Website erklären Sie sich mit der
          <a href="/datenschutz" class="link">Datenschutzerklärung</a> einverstanden.
          <br />
          Informationen zu Verantwortlichkeiten erhalten Sie im <a
            href="/impressum"
            class="link">Impressum</a
          >.
        </p>
        <div class="consent__btn-container">
          <button class="consent__btn" id="consent">Bestätigen</button>
        </div>
      </div>
    </div>
  </body>
</html>
<style is:global>
  :root {
    --red: rgb(227, 0, 15);
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
  }
  html,
  body {
    font-family: "SPD The Sans", system-ui, sans-serif;
    background: var(--white);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "SPD The Sans Bold";
    text-align: center;
    hyphens: auto;
    line-height: 1.6;
  }
  .main {
    padding-top: 178px;
    min-height: calc(100vh - 262px);
  }
  p {
    padding: 8px 16px;
    max-width: 60ch;
    margin: 0 auto;
    line-height: 1.6;
  }
  li {
    max-width: 60ch;
    margin: 0 auto;
  }
  .consent {
    z-index: 1000;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(101, 100, 97, 0.5);
    color: var(--white);
    display: none;
  }
  .consent__action-container {
    position: absolute;
    bottom: 0;
    background-color: #000;
    opacity: 1;
    width: 100%;
    text-align: center;
    padding-bottom: 64px;
  }
  .consent__action-container > p {
    padding: 24px;
  }
  .link {
    color: var(--white);
  }
  .consent__btn-container {
    padding: 12px 0;
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  .consent__btn {
    background-color: var(--red);
    padding: 12px;
    font-size: 1.2rem;
    border: none;
    text-decoration: none;
    cursor: pointer;
    color: var(--text-alternative);
    border-radius: 16px;
    transition: all 250ms;
  }
  .consent__btn:hover {
    background-color: var(--white);
    color: var(--red);
  }
  @media screen and (min-width: 768px) {
    p {
      font-size: 1.2rem;
    }
    li {
      font-size: 1.2rem;
    }
    .main {
      padding-top: 198px;
    }
  }
  @media screen and (min-width: 1275px) {
    .main {
      padding-top: 230px;
    }
  }
  @font-face {
    font-family: "SPD The Sans";
    src: url(/font/SPD2002TheSans.ttf);
  }
  @font-face {
    font-family: "SPD The Sans Bold";
    src: url(/font/SPD2002TheSans-Bold.ttf);
  }
  @media (prefers-reduced-motion) {
    * {
      animation: none;
      opacity: 1;
      transition: none;
    }
  }
</style>

<script is:inline>
  const consentEl = document.querySelector(".consent");
  const consentBtn = document.getElementById("consent");

  let consentByUser = false;

  consentBtn.addEventListener("click", () => {
    consentEl.style.display = "none";
    localStorage.setItem("consent", true);
  });

  function checkConsent() {
    consentByUser = localStorage.getItem("consent");
    if (
      !consentByUser &&
      !location.href.includes("/datenschutz") &&
      !location.href.includes("/impressum")
    ) {
      consentEl.style.display = "block";
    }
  }
  checkConsent();
</script>
